@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.bgCard{
    height: 465px;
}
.custom-text {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 500;
    
  }
  