@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.card-style {
  background-color: #2f2f2e;
  /* height: 500px; */
  min-width: "20rem";
  background-color: "#ffcccc";
  border-bottom: "5px solid red";
  margin: "0 10px";
}
.white {
  color: white;
  background-color: black;
}

/* replace after styled */
.text-white {
  color: wheat;
}
.bgred {
  color: red;
}

.form {
  background-color: #282828;
  color: white;
  border: 3px solid #ff4233;
  font-size: 12px;
  padding: 12px;
  text-align: center;
}


.form-control:focus {
  border: 1px solid rgb(255, 132, 132) !important;
  box-shadow: none !important;
  /* background-color: transparent; */
}

.buttons {
  background-color: orange;
  width: 120px;
  padding: 12px;
}
.title {
  padding-top: 40px;
  color: #ffffff;
  background-color: rebeccapurple;
  font-size: 30px;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 25px;
}
.titles {
  padding: 10px;
}

.card-bg {
  width: 1486px;
  height: 300px;
  background-color: #2f2f2e;
  color: white;
  border-radius: 13px;
}

.card-img {
  flex: 1;
  height: 300px;
  overflow: hidden;
}

.card-img .f {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-sm {
  height: 250px;
  width: 300px;
}

.space {
  padding: 2px 50px;
}
/* to Small devices */
@media (max-width: 627px) {
  .title {
    padding-top: 10px;
    color: #ffffff;
    font-size: 18px;
  }
  .subtitle {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 15px;
  }
  .space {
    padding: 2px 20px;
  }
  .card-bg {
    width: 90vw;
    height: 250px;
    background-color: #2f2f2e;
    color: rgb(114, 113, 35);
    margin: 20px;
    border-radius: 13px;
  }
  /* .width {
    width: 80%;
  } */
  .customize-tryNow {
    width: 115px;
    height: 55px;
  }
  .customize-video {
    width: 125px;
    height: 66px;
  }
  .card-img {
    height: 250px;
    overflow: hidden;
  }
  .card-img .f {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-img-sm {
    width: 200px;
    height: 250px;
  }
}

/* Large Devices */
@media (min-width: 768px) {
  .card-bg {
    width: 90vw;
    height: 350px;
    background-color: #2f2f2e;
    margin: 20px;
    border-radius: 13px;
    background-color: red;
  }
  .card-img {
    height: 350px;
    overflow: hidden;
  }
  .card-img .f {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .width {
    width: 50%;
  }
  .customize-tryNow {
    width: 200px;
    height: 55px;
  }
  .customize-video {
    width: 193px;
    height: 105px;
  }
  .card-img-sm {
    background-color: red;

    width: 250px;
    height: 350px;
  }
}
