.card-style {
  background-color: #2f2f2e;
  /* height: 500px; */
  min-width: "20rem";
  background-color: "#ffcccc";
  border-bottom: "5px solid red";
  margin: "0 10px";
}
.white {
  color: white;
  background-color: black;
}

/* replace after styled */
.text-white {
  color: wheat;
}
.bgred {
  color: red;
}

.form {
  background-color: #282828;
  color: white;
  border: 3px solid #ff4233;
  font-size: 12px;
  padding: 12px;
  text-align: center;
}
.buttons {
  background-color: orange;
  width: 120px;
  padding: 12px;
}
.title {
  padding-top:40px;
  color: #ffffff;
  font-size: 20px;
}
.subtitle {
  color: #ffffff;
  padding-top: 2px; 
  padding-bottom: 25px; 
}
.titles {
  padding: 10px;
}

.card-bg {
  width: 90vw;
  height: 300px;
  background-color: #2f2f2e;
  color: white;
  border-radius: 13px;
}

.card-img {
  flex: 1;
  height: 300px;
  overflow: hidden;
}

.card-img .f {
  width: 100%;
  height: 100%;
  background-color: red;
  object-fit: cover;
}

.card-img-sm {
  height: 250px;
  width: 300px;
}

.space{
  padding:2px 50px;
  
}
/* to Small devices */
@media (max-width: 865px) {
  .title {
    padding-top:10px;
    color: #ffffff;
    font-size: 18px;
  }
  .subtitle {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 15px;

  }
  .space{
    padding:2px 20px;
    
  }
  .card-bg {
    width: 90vw;
    height: 250px;
    background-color: #2f2f2e;
    color: rgb(114, 113, 35);
    margin: 20px;
    border-radius: 13px;
  }
  .width {
    width: 80%;
  }
  .customize-tryNow {
    width: 85px;
    height: 45px;
  }
  .customize-video {
    width: 85px;
    height: 76px;
  }
  .card-img {
    height: 250px;
    overflow: hidden;
  }
  .card-img .f {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-img-sm {
    width: 200px;
    height: 250px;
  }
}

/* Large Devices */
@media (min-width: 768px) {
  .card-bg {
    width: 90vw;
    height: 350px;
    background-color: #2f2f2e;
    color: rgb(241, 27, 27);
    margin: 20px;
    border-radius: 13px;
  }
  .card-img {
    height: 350px;
    overflow: hidden;
  }
  .card-img .f {
    width: 100%;
    height: 100%;
    background-color: red;
    object-fit: cover;
  }
  .width {
    width: 50%;
  }
  .customize-tryNow {
    width: 150px;
    height: 45px;
  }
  .customize-video {
    width: 150px;
    height: 86px;
  }
  .card-img-sm {
    width: 250px;
    height: 350px;
  }
}
